
 
{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags%}
<div class="mx-auto">

        <div class="d-flex justify-content-center  flex-wrap   pt-5  mx-auto">
            <div class="card  mt-2  mb-5 w-50 " style="background-color: rgba(85, 107, 47, 0.447);">
                <div class="card-body">
                    <img  src="{{bookmodel.image.url}}" style="width: 250px;" class="card-img-top" alt="...">
                    <h5 class="card-title text-light mt-3">{{bookmodel.title}}</h5>
                    <p class="card-text text-dark">{{bookmodel.description}}</p>
                    <p class="text-warning text-bold">Price:${{bookmodel.price}}</p>
                    <h5>Qunatity:{{bookmodel.quantity}}</h5>
                    <p class="text-dark text-bold">
                      {% for c in bookmodel.book_category.all %}
                      <h4>{{c.category_name}}</h4>
                      {% endfor %}

      
                    </p>
                    <a class="btn btn-danger" href="{% url 'borrow_book' bookmodel.id %}">Buy</a>
                    

                </div>
            </div>
        </div>

     

</div>

{% if bought_user %}
<div class="  d-flex mx-auto  justify-content-center" >
    <div class="card m-2 bg-success mb-5  " style="height: 70vh;">
        <div class="card-body ">
            <form method="post" class="" >
               
                <h1>Add Reviews</h1>
                {% csrf_token %}
                {{review_form| crispy}}
               


                <button class="btn btn-warning">Submit</button>

        </div>
    </div>
    
{% endif %}
    <div class="card mb-5">
        <div class="mx-auto">
            {%if reviews%}
            <h5 class="p-3 ">Total Reviews : {{reviews | length}}</h5>
            {%endif%}
        </div>
        {% if bought_user %}
            {% for r in reviews %}
            <div class="card-body border m-2">
                <p><b>{{r.name}}</b> {{r.created_on}}</p>
                <p>{{r.Review}}</p>
            </div>
            {% endfor %}
        {% else %}
        <h6 class="text-center">You are not bought a book</h6>
        {% endif %}
      
    </div>
   
</div>

{% endblock %}